#about{
    display: flex;
    align-items: center;
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .content{ // 내용
        width:70rem;
        background: $white;
        padding:3rem;

        span{ // 상단 글
            color:$pink;
            font-size:2rem;
        }

        h3{ // 내용 제목
            padding-top:1rem;
            font-size:3rem;
            color:$pink;
        }

        p{ // 내용 문단
            font-size:1.5rem;
            color:$light-color;
            line-height: 1.5;
            padding:1rem 0;
        }
    }
}

// 미디어쿼리

@media (max-width:991px) {

    #about{       
        .content{ // 내용 line 9
            width:55rem;
        }
    }

}

@media (max-width:768px) {

    #about{       
        .content{ // 내용 line 9
            margin-left: 3rem;
            width:45rem;
        }
    }

}

@media (max-width:450px) {

    about{       
        .content{ // 내용 line 9
            margin: 0 auto;
        }
    }

}
